.App {
  padding: 10px 0;
  background-color: #202020;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.header__title {
  text-decoration: none;
  color: white;
}
.header__title:hover {
  color: red;
  text-decoration: none;
}
.header {
  color: white;
}
.header img {
  width: 100%;
  max-width: 100px;
}
.header h1,
.header h3 {
  font-weight: bold;
  margin: 20px 0;
}
.header h3:hover {
  color: red;
}
.search {
  padding: 15px 0;
}
.search__button {
  font-weight: bold;
  overflow: hidden;
}
.home__card {
  margin: 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #193142;
  border-top: 3px solid white;
}
.card__table {
  overflow-x: scroll;
}
.card__home:hover {
  border-top: 3px solid orange;
}
.card__chart {
  z-index: 2;
}
.paper__modal {
  text-align: justify;
}
.table-card {
  color: white;
  font-size: small;
}
.papers__pagination {
  margin: 10px 0px;
  display: flex;
  list-style: none;
  justify-content: center;
}
.papers__pagination .page-link {
  background-color: transparent;
  border: none;
}
