.App {
  padding: 10px 0;
  background-color: rgb(32, 32, 32);
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.header{
  // text-align: center;
  // margin: 30px 0;
  color: white;
  img {
    width: 100%;
    max-width: 100px;
  }
  h1, h3{
    font-weight: bold;
    margin: 20px 0;
  }
  h1:hover, h3:hover{
    color: red;
  }
}

.search {
  padding: 15px 0;
  .button{
    font-weight: bold;
    overflow: hidden;
  }
}

.card{
  margin: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #193142;
  border-top: 3px solid white;
}

.card:hover{
  border-top: 3px solid orange;
}

.card-chart{
  z-index: 2;
}

.modal-paper{
  background-color: #193142;
  color: white;
}

.table-card {
  color: white;
}


