.App {
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
}
.header__title {
  text-decoration: none;
  color: black;
}
.header__title:hover {
  color: black;
  text-decoration: none;
}
.header h1,
.header h3 {
  font-weight: bold;
  margin: 20px 0;
}
.header__img {
  width: 75%;
  max-width: 250px;
}
.search {
  padding: 15px 0;
}
.search__button {
  font-weight: bold;
  overflow: hidden;
}
.search__button-loading {
  font-weight: bold;
  overflow: hidden;
  font-size: 0.8em;
}
.home__card {
  margin: 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card__table {
  overflow-x: scroll;
}
.card__chart {
  z-index: 2;
}
.paper__modal {
  text-align: justify;
}
.paper__words-highlight {
  display: inline-block;
  font-weight: bold;
  padding: 0 1px;
  margin: 1px 2px;
  color: black;
  border-radius: 5px;
}
.table-card {
  font-size: small;
}
.papers__pagination {
  margin: 10px 0px;
  display: flex;
  list-style: none;
  justify-content: center;
}
.modal__subtitle {
  font-size: medium;
}
.modal__author {
  font-style: italic;
  font-size: medium;
  color: grey;
}
.suggested {
  background-color: #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border-bottom: 1px solid black;
}
.suggested__card {
  font-size: 16px;
}
.suggested__topic {
  font-weight: bold;
  font-size: 17px;
  margin: 10px;
}
.suggested__cardtitle {
  font-weight: bold;
  font-size: 17px;
}
.suggested__questions {
  margin: 15px 0px;
}
.questions__section {
  width: 100%;
}
.answer__item {
  display: flex;
  justify-content: space-between;
}
.answer__link {
  text-decoration: none;
  color: black;
}
