.App {
  padding: 10px 0;
  font-family: 'Lato', sans-serif;
}

.header__link{
  text-decoration: none;
  color: black;
}

.header__link:hover{
  color: black;
  text-decoration: none;
}

.header{
  h1{
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  h3{
    font-size: 16px;
    // margin: 20px 0;
  }
  
}

.header__img{
  
}

.search__button{
  font-weight: bold;
  overflow: hidden;
}

.search__button-loading{
  font-weight: bold;
  overflow: hidden;
  font-size: 0.8em;
}

.home__card{
  margin: 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home__tablecard{
  overflow-x: scroll;
}

.card__home:hover{
  // border-top: 3px solid #81c784;
}

.card__chart{
  z-index: 2;
}

.paper__modal{
  // background-color: #193142;
  // color: white;
  text-align: justify;
}

.paper__words-highlight{
  display:inline-block;
  font-weight: bold;
  padding: 0 1px;
  margin: 1px 2px;
  color:black;
  border-radius: 5px;
}

.card__table {
  font-size: small;
}

.papers__pagination{
  margin: 10px 0px;
  display: flex;
  list-style: none;
  justify-content: center;
}

.modal__subtitle{
  font-size: medium;
}
.modal__author {
  font-style: italic;
  font-size: medium;
  color: grey;
}

/* Seggested Topics */

.suggested__section {
  // background-color: #fcfcfc;
  padding: 10px 0px;
  border-radius: 5px;
  // border-bottom: 1px solid black;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.suggested__card {
  font-size: 16px;
}

.suggested__topic{
  font-weight: bold;
  font-size: 17px;
  margin: 10px;
  width: 100%;
}

.suggested__cardtitle{
  font-weight: bold;
  font-size: 17px;
}

.suggested__questions{
  margin: 15px 0px;
}

.questions__section{
  width: 100%;
  margin: 10px;
}

.answer__item{
  display: flex;
  justify-content: space-between;
}

.answer__link{
  text-decoration: none;
  color: black;
}

// Footer

// .app__footer{
//   background-color: #babdbe;
//   height: 150px;
// }

.footer__content{
  padding: 30px;
}

.footer__link{
  text-decoration: none;
  color: black;
}

.footer__link:hover{
  text-decoration: none;
  color: black;
}